.main-container {
  background-color: #263238;
  color: white;
  height: 100vh;
}

.btn {
  background-color: transparent;
  color: #ff9e40;
  font-weight: bold;
  border: 2px solid #ff9e40;
  border-radius: 2px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: background-color 100ms ease;
  text-decoration: none;
  text-align: center;
  display: block;
  box-sizing: border-box;
}

.btn:hover {
  background-color: #ff9e4022;
}
